:root {
    --greenishcyan: #12F7D6;
    --white: white;
    --bg1: #292F36;
    --bg2: #1A1E23;
    --vl: #0C73B8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-image: url("../imgs/nav_bg.svg");
    width: 100vw;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Epilogue", sans-serif;
    padding: 0 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.logo {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}

.link_container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-family: "Epilogue";
}

.about {
    min-height: 100vh;
    margin-top: 80px;
    display: flex;
    padding: 20px 30px 20px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.my_picture img {
    width: 480px;
    height: 360px;
}

.info {
    display: flex;
    flex-flow: column wrap;
    right: 40px;
}

.about-container {
    font-family: "Ubuntu", sans-serif;
    font-size: 54px;
    font-weight: 200;
}

.full-name {
    color: #12F7D6;
}

.code {
    font-size: 18px;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    color: var(--greenishcyan);
    font-weight: 200;
}

.description {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
}

.knowledge {
    background-color: var(--bg2);
    width: 218px;
    height: 378px;
    border-radius: 80px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 48px 32px;
}

.knowledge p {
    height: 62px;
    width: 154px;
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;

}

.words {
    width: 106px;
    height: 40px;
}

.numbers {
    font-size: 52px;
    font-weight: medium;
    color: var(--greenishcyan);
}

.skills_section {
    background: url("../imgs/Skills.png");
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 120px 30px 20px;
    align-items: center;
    flex-flow: column;

}

.mouse {
    border: #12F7D6 solid 4px;
    border-radius: 20px;
    width: 32px;
    height: 44px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-bottom: 16px;
}

.scroll_button {
    width: 2.5px;
    height: 7px;
    background-color: var(--greenishcyan);
}

.line_container {
    display: flex;
    flex-flow: column;
}

.line {
    background-color: var(--white);
    width: 1px;
    margin-bottom: 5px;
}

.line1 {
    height: 4px;
    border-radius: 1px;
}

.line2 {
    height: 5px;
    border-radius: 1px;
}

.line3 {
    height: 6px;
    border-radius: 1px;
}

.line4 {
    height: 7px;
    border-radius: 1px;
}

.line5 {
    height: 8px;
    border-radius: 1px;
}

.line6 {
    height: 9px;
    border-radius: 1px;
}

.line7 {
    height: 10px;
    border-radius: 1px;
}

.cube {
    width: 4px;
    height: 4px;
    rotate: 45deg;
    position: relative;
    right: 1px;
}

.skills_section h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 64px;
    font-weight: normal;
    color: var(--greenishcyan);
    line-height: 72px;
    margin-bottom: 16px;

}

.skills_line {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 16px;
}

.dot {
    background: var(--greenishcyan);
    width: 10.5px;
    height: 10.5px;
    border-radius: 10.5px;
}

.hline {
    width: 148px;
    height: 2px;
    background-color: var(--greenishcyan);
}

.quote {
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 64px;
}

.rectangle {
    display: flex;
    margin-bottom: 90px;

}

.web_dev {
    background-color: aquamarine;
    width: 296px;
    height: 132px;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 16px 24px;
}

.vline {
    background-color: var(--vl);
    width: 8px;
    height: 132px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.web_dev img {
    width: 32px;
    height: 32px;
    padding-bottom: 8px;
}

.web_dev h3 {
    font-family: "IBM Plex Mono", monospace, sans-serif;
    color: #292F36;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 8px;
}

.web_dev p {
    font-family: "IBM Plex Mono", monospace, sans-serif;
    color: #43454D;
    font-size: 16px;
    font-weight: 100;
}

.lang_icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 960px;
}

.lang_icon {
    width: 144px;
    height: 144px;
}

.html {
    color: #E54F26;
    font-size: 32px;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-weight: 300;
}

.css {
    color: #0C73B8;
    font-size: 32px;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-weight: 300;
}

.js {
    color: #E7A020;
    font-size: 32px;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-weight: 300;
}

.react {
    color: #28A9E0;
    font-size: 32px;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-weight: 300;
}